{% extends "templates/base.html" %}
{% block title %}Re-new Site Subscription{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 border border-5 rounded-10" style="min-width: fit-content;">
            <h4 class="text-center">Re-new Site Subscription</h4>
            <form method="POST" id="signupForm" class="form-horizontal p-5">
                <div class="form-group row">
                    <label for="site_name" class="col-12 col-form-label">Site Name</label>
                    <div class="col-md-12 d-flex">
                        <input type="text" class="form-control" id="site_name" name="site_name"
                            placeholder="Enter Site Name"
                            style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                        <div class="d-flex align-items-center bg-light px-3"
                            style="border-top-left-radius: 0; border-bottom-left-radius: 0;">.nextpty.com</div>
                    </div>
                    <div class="col-12">
                        <small id="site_name_error" class="form-text text-danger" style="display: none;"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="plan" class="col-12 col-form-label">Plan</label>
                    <div class="col-12">
                        <select class="form-control" id="plan" name="plan">
                            <option value="HOSTING STANDARD">Hosting Standard</option>
                            <!-- <option value="Trial">Trial</option> -->
                        </select>
                        <small id="plan_error" class="form-text text-danger" style="display: none;"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="subscription_type" class="col-12 col-form-label">Subscription Type</label>
                    <div class="col-12">
                        <select class="form-control" id="subscription_type" name="subscription_type">
                            <option value="monthly">Monthly</option>
                            <!-- <option value="yearly">Yearly</option> -->
                        </select>
                        <small id="subscription_type_error" class="form-text text-danger"
                            style="display: none;"></small>
                    </div>
                </div>

                
                <!-- <div class="form-group row mt-10">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </div>
                </div> -->
            </form>
            <div id="creditcard-container"></div>
        </div>
    </div>
</div>

<script>
    document.getElementById("site_name").value = window.localStorage.getItem("re_new_sitename") || ""
    
    document.addEventListener('DOMContentLoaded', function () {
        var navbar = document.querySelector('.navbar');
        if (navbar) {
            navbar.style.display = 'none';
        }

        var footer = document.querySelector('.web-footer');
        if (footer) {
            footer.style.display = 'none';
        }


        const signupForm = document.getElementById('signupForm');

        function validateForm() {
            let isValid = true;

            // Reset all error messages
            document.querySelectorAll('.form-text.text-danger').forEach((el) => (el.style.display = 'none'));

            // Validate required fields
            const requiredFields = ['site_name', 'plan', 'subscription_type'];
            requiredFields.forEach((field) => {
                const input = document.getElementById(field);
                if (!input.value.trim()) {
                    document.getElementById(`${field}_error`).textContent = `${field.replace('_', ' ')} is required.`;
                    document.getElementById(`${field}_error`).style.display = 'block';
                    isValid = false;
                }
            });

            return isValid;
        }

        // signupForm.addEventListener('submit', function(event) {
        //     event.preventDefault();
        // function submitForm() {
        //     if (validateForm()) {
        //         const formData = {
        //             site: document.getElementById('site_name').value.trim(),
        //             subscription_type: document.getElementById('subscription_type').value,
        //             plan: document.getElementById('plan').value
        //         };
        //         console.log("form data", formData)
        //         frappe.call({
        //             method: "nextpty_auto_server_setup.schedular.subscription.re_new_subscription",
        //             args: {
        //                 site: formData.site,
        //                 subscription_type: formData.subscription_type,
        //                 plan: formData.plan
        //             },
        //             callback: function (response) {
        //                 // alert('Signup successful!');
        //                 console.log("response", response)
        //                 // Reset the form
        //                 signupForm.reset();
        //             },
        //             error: function (error) {
        //                 alert('Error: ' + (error.message || 'Something went wrong!'));
        //             },
        //             freeze: true,
        //             freeze_message: "Processing your request..."
        //         });
        //     }
        // }
        // });

        function SaveCreditCard_SuccessCallback(response) {
            let cardToken = response.TokenDetails.AccountToken;
            let accountNumber = response.TokenDetails.AccountNumber;
            let cardholderName = response.TokenDetails.CardHolderName;
            let associatedCard = response.TokenDetails.CardNumber;

            console.log("cardToken", cardToken)
            console.log("accountNumber", accountNumber)
            console.log("cardholderName", cardholderName)
            console.log("associatedCard", associatedCard)
            // if(validateForm()){
            //     const formData = {
            //         site: document.getElementById('site_name').value.trim(),
            //         subscription_type: document.getElementById('subscription_type').value,
            //         plan: document.getElementById('plan').value
            //     };

            //     frappe.call({
            //         method: "nextpty_auto_server_setup.www.payment.create_payment",
            //         args: {
            //             plan: formData.plan,
            //             site: formData.site,
            //             subscription_type: formData.subscription_type || "monthly",
            //             is_trial: 0,
            //             popup_response: response.TokenDetails
            //         },
            //         callback: function (res) {
            //             console.log("payment res", res)
            //         }
            //     })
            // }
        }

        // Failed tokenization:
        function SaveCreditCard_FailureCallback(response) {
            console.log(response.ResponseCode);
            console.log(response.ResponseDescription);
        }

        // Cancellation on the form:
        function SaveCreditCard_CancelCallback() {
            console.log("Cancel button pressed");
        }

        frappe.call({
            method: "nextpty_auto_server_setup.www.payment.get_payment_popup",
            args:{
                site_name: window.localStorage.getItem("re_new_sitename") || ""
            },
            callback: function (response) {
                const container = document.getElementById("creditcard-container");
                if (response.message && response.message.html) {
                    container.innerHTML = response.message.html;

                    const scripts = container.querySelectorAll("script");
                    scripts.forEach(script => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                            newScript.src = script.src;
                            newScript.async = true;
                        } else {
                            newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                    });
                } else {
                    container.innerHTML = `
                <div style="color: red;">
                    Failed to load the payment form. Please try again later.
                </div>
            `;
                }
            },
            error: function (error) {
                console.error("Error fetching data:", error);
                document.getElementById("creditcard-container").innerHTML = `
            <div style="color: red;">
                An error occurred while loading the payment form. Please try again later.
            </div>
        `;
            }
        });


    });
</script>
{% endblock %}