{% extends "templates/base.html" %}
{% block title %} Sign Up {% endblock %}
{% block head_include %}
{% endblock %}

{% block content %}
    <div class="container my-10">
        <div class="row justify-content-center">
            <div class="col-md-6 border border-5 rounded-10">
                <h2 class="text-center">Signup</h2>
                <form method="POST" id="signupForm" class="form-horizontal p-10">
                    <div class="form-group row">
                        <label for="company_name" class="col-12 col-form-label">Company / Person Name</label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Enter Company / Person Name" >
                            <small id="company_name_error" class="form-text text-danger" style="display: none;"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="contact_name" class="col-12 col-form-label">Contact Name</label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Enter Contact Name" >
                            <small id="contact_name_error" class="form-text text-danger" style="display: none;"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="contact_email" class="col-12 col-form-label">Contact Email</label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="contact_email" name="contact_email" placeholder="Enter Contact Email" >
                            <small id="contact_email_error" class="form-text text-danger" style="display: none;"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="site_name" class="col-12 col-form-label">Site Name</label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="site_name" name="site_name" placeholder="Enter Site Name">
                            <small id="site_name_error" class="form-text text-danger" style="display: none;"></small>
                        </div>
                    </div>

                    <div class="form-group row mt-10">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
       document.addEventListener('DOMContentLoaded', function() {
            var signupForm = document.getElementById('signupForm');
            
            function validateForm() {
                var isValid = true;

                // Reset all error messages
                var errorMessages = document.querySelectorAll('.form-text');
                errorMessages.forEach(function(errorMessage) {
                    errorMessage.style.display = 'none';
                });

                // Check Company Name
                var companyName = document.getElementById('company_name').value;
                if (!companyName.trim()) {
                    document.getElementById('company_name_error').textContent = 'Company / Person Name is required.';
                    document.getElementById('company_name_error').style.display = 'block';
                    isValid = false;
                }

                // Check Contact Name
                var contactName = document.getElementById('contact_name').value;
                if (!contactName.trim()) {
                    document.getElementById('contact_name_error').textContent = 'Contact Name is required.';
                    document.getElementById('contact_name_error').style.display = 'block';
                    isValid = false;
                }

                // Check Email format
                var contactEmail = document.getElementById('contact_email').value;
                var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                if (!contactEmail.trim()) {
                    document.getElementById('contact_email_error').textContent = 'Email is required.';
                    document.getElementById('contact_email_error').style.display = 'block';
                    isValid = false;
                } else if (!emailPattern.test(contactEmail)) {
                    document.getElementById('contact_email_error').textContent = 'Please enter a valid email address.';
                    document.getElementById('contact_email_error').style.display = 'block';
                    isValid = false;
                }

                // Check Site Name
                var siteName = document.getElementById('site_name').value;
                if (!siteName.trim()) {
                    document.getElementById('site_name_error').textContent = 'Site Name is required.';
                    document.getElementById('site_name_error').style.display = 'block';
                    isValid = false;
                } else if (siteName.trim().length < 5) {
                    document.getElementById('site_name_error').textContent = 'site name is too short. use 5 or more characters.';
                    document.getElementById('site_name_error').style.display = 'block';
                    isValid = false;
                }

                return isValid;
            }

            signupForm.addEventListener('submit', function(event) {
                event.preventDefault();

                // Validate form before submitting
                if (validateForm()) {
                    var formData = {
                        company_name: document.getElementById('company_name').value,
                        contact_name: document.getElementById('contact_name').value,
                        contact_email: document.getElementById('contact_email').value,
                        site_name: document.getElementById('site_name').value
                    };

                    frappe.call({
                        method: "nextpty_auto_server_setup.www.signup.signup",
                        args: {
                            formdata: formData
                        },
                        callback: function(res) {
                            document.getElementById('company_name').value = "";
                            document.getElementById('contact_name').value = "";
                            document.getElementById('contact_email').value = "";
                            document.getElementById('site_name').value = "";

                        },
                        error: function(err) {
                            alert("Error: " + err.message);
                        },
                        freeze: true,
                        freeze_message: "Please wait..."
                    });
                }
            });
        
           
            var siteNameInput = document.getElementById('site_name');

            siteNameInput.addEventListener("input", function() {
                var siteName = siteNameInput.value;
                siteName = siteName.replace(/[\s\-]+/g, '_');
                siteName = siteName.replace(/[^a-zA-Z0-9_]/g, '');
                siteNameInput.value = siteName.toLowerCase()
                if (siteName.toLowerCase().length < 5) {
                    document.getElementById('site_name_error').textContent = 'Site Name is too short. use 5 or more characters.';
                    document.getElementById('site_name_error').style.display = 'block';
                }
                else{
                    document.getElementById('site_name_error').textContent = '';
                    document.getElementById('site_name_error').style.display = 'none';
                }
            });          

            
        });
    </script>
    
{% endblock %}
