{% extends "templates/base.html" %}
{% block title %} Sign Up {% endblock %}
{% block head_include %}
{% endblock %}


{% block content %}
<div align="center">
    <h1>Payment Form</h1>
    <div id="creditcard-container"></div>
</div>

<script>
    function SaveCreditCard_SuccessCallback(response) {
        console.log("reee", response.TokenDetails.AccountToken);
    }
    
    fetch(
        `https://bacapicomponentv2-test.merchantprocess.net/UIComponent/CreditCard?APIKey=FOadLuTCRArH&Token=&Culture=`,
        {
            method: "GET"
        }
    )
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.text();
        })
        .then(htmlResponse => {
            // console.log("Fetched HTML:", htmlResponse);
            const container = document.getElementById("creditcard-container");
            container.innerHTML = htmlResponse;

            const scripts = container.querySelectorAll("script");
            scripts.forEach(script => {
                const newScript = document.createElement("script");
                if (script.src) {
                    newScript.src = script.src;
                    newScript.async = true;
                } else {
                    newScript.textContent = script.textContent;
                }
                document.body.appendChild(newScript);
            });
        })
        .catch(error => {
            console.error("Error fetching data:", error);
            document.getElementById("creditcard-container").innerHTML = `
            <div style="color: red;">
                An error occurred while loading the payment form. Please try again later.
            </div>
        `;
        });

    


</script>

</html>
{% endblock %}